 <b style="font-size:14px; color:green">Welcome ! <%= current_user.name %> <i class="icon-user"></i></b><br>
 <strong style="font-size:18px;color:red"><%= current_user.tab.name if current_user.tab %></strong>
 <hr>

 <p> Assigned Customers </p><hr>

  <table class="table table-striped table-bordered table-condensed" style="width:800px;">

   <tr>
    <th>Residential Verification</th>
    <th> Office Verification </th>
  </tr>

  <tr>
    <td><%= current_user.tab.assignments.joins(:customer).where('assignments.customer_office_id IS NULL and customers.status =? ', 'submitted').count %></td>
    <td><%= current_user.tab.assignments.joins(:customer_office).where('assignments.customer_office_id IS NOT NULL and customer_offices.status =? ', 'pending').count %></td>
  </tr>
  
 </table>  

<hr>
  <table class ="table table-striped table-condensed table-bordered">
   <tr>
   <th>Customer Name </th>
   <th> Address </th>
   <th> Action </th>
   </tr>
  <% @tab_user_task.includes(:customer, :user, :tab).includes(:customer_office).each do |tab_task| %>

  <% if tab_task && tab_task.customer && tab_task.customer.status == 'submitted' %>
  <tr>
   <td><%= tab_task.customer.applicant_name %></td>
   <td><small><%= tab_task.customer.address %></small></td>
   <% if tab_task.customer %>
   <td><%= link_to "Start Servey", new_servey_path(:user_id => tab_task.user.id, :tab_id => tab_task.tab.id , :customer_id => tab_task.customer.id) %></td>
   <% elsif tab_task.customer_office %>
     <td>Sdr</td>
   <% end %>
   </tr>
  <% end %>

  <% if tab_task && tab_task.customer_office && tab_task.customer_office.customer.status == 'submitted' %>
  <tr>
   <td><%= tab_task.customer_office.customer.applicant_name %></td>
   <td><small><%= tab_task.customer_office.customer.address %></small></td>
   <td><%= link_to "Start Servey", new_servey_path(:user_id => tab_task.user.id, :tab_id => tab_task.tab.id , :customer_id => tab_task.customer_office.customer.id) %></td>
   </tr>
  <% end %>

   <% end %>
  </table>
