<style>
 #main_content{
  float:left;
  width:750px;
  border-right:0px solid silver;
  padding:15px;
  }
 #sidebar {
	width: 350px;
	margin-right: 5px;
	padding: 15px;
	float:right;
}
welcome{color:green;}
</style>

<% if logged_in? && current_user.role_name == "super_user" %>
<p>Welcome , <welcome><%= current_user.name %></welcome></p><hr>


<div id ="sidebar">

<table class ="table-bordered table-condensed table-striped table">
 <p> Tab Status Task</p>
 <tr>
  <td> Tab name </td>
  <td> Total task </td>
 </tr>
<% Tab.all.each do |t| %>
<tr>
  <td><%= link_to t.name  %></td>
  <td><%= Assignment.find_all_by_tab_id(t).count %></td>
</tr>
<% end %>
</table>
</div>

<div id ="main_content">
	<p>Completed Customers</p>
	<table class="table table-condensed table-striped table-bordered">
    <tr>
      <th> Applicant Name </th>
    </tr>
		<% @completed_customers.each do |task| %>
		<tr>
			<td><%= task.applicant_name %> <strong style="float:right;margin-right:50px;"> <%= link_to 'More..', servey_path(task.servey) %>
			<td style="text-align:center"><%= link_to "Accept", accept_customer_path(task.slug, :customer_id => task.id) %></td>
			<td style="text-align:center"><%= link_to "Reassign", reassign_customer_path(task.id, :customer_id => task.id) %></td>
		</tr>
		<% end %>
	</table>
  <hr>

 <p> Assigned Task</p>
  <table class="table table-condensed table-bordered table-striped">
   <tr>
     <th> Tab Name </th>
     <th> Customer Name </th>
     <th> Status </th>
  </tr>
  <% Assignment.where('DATE(created_at) > ? AND DATE(created_at) < ?', Date.today-5, Date.today+1).each do |task| %>
   <tr>
     <%  if task.tab.user.present? %>
		 <td><%= task.tab.user.inspect %></td>
		 <% else %>
		 <td>Test </td>
		 <% end %>
		 <td><%= task.customer.applicant_name if task.customer %></td>
		 <td><%= task.customer.status if task.customer %></td>
   </tr>
  <% end %>
</div>

<% elsif logged_in? && current_user.role_name == "tab_user" %>

 <p>Welcome ! <%= current_user.name %></p>
 <%= current_user.tab.name %>
 <hr>
 <p> Assigned Customers </p><hr>
  <table class ="table table-condensed">
  <% @tab_user_task.each do |tab_task| %>
  <% if tab_task.customer.status == 'submitted' %>
  <tr>
   <td><%= tab_task.customer.id %><br>
   <td><%= tab_task.customer.applicant_name %><br>
   <small><%= tab_task.customer.address %></small></td>
   <td><%= link_to "show map", customer_mapdetail_customer_path(tab_task.customer.id, :customer_id => tab_task.customer.id) %></td>
   <td><%= link_to "Start Servey", new_servey_path(:user_id => tab_task.user.id, :tab_id => tab_task.tab.id , :customer_id => tab_task.customer.id, ) %></td>
   </tr>
  <% end %>
   <% end %>
  </table>
<% end %>
