<style>
.form-control {
    background-color: white;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 21%;
}
</style>
<%= form_for :session, url: sessions_path , method: :post  do |f| %>
  <div class="form-group">
	<%= f.label :name %><br>
	<%= f.text_field :username, :class=>"form-control" %>
  </div>
  <div class="form-group">
	<%= f.label :password %><br>
	<%= f.password_field :password, :class=>"form-control" %>
  </div>
<%= f.submit "SignIn", :class=>"btn btn-primary" %>
<% end %>

<div class = "logo" style="float:right;margin-top:-200px;margin-right:500px;">
<%= image_tag('verifyme.jpg') %>
</div>
