<p style="float:right;margin-right:50px"><%= link_to 'New Tab user', new_user_path, :class => "label label-info" %></p><br>
<table class="table table-striped table-condensed table-bordered">
  <thead>
    <tr>
      <th> Sr. No. </th>
      <th>Name</th>
      <th>UserName</th>
      <th>Role</th>
      <th>Tab Name</th>
    </tr>
  </thead>

  <tbody>
    <% @users.order("id").each do |tab_user| %>
      <tr>
        <td><%= tab_user.id %></td>
        <td><%= tab_user.name %></td>
        <td><%= tab_user.username %>
        <td><%= tab_user.role_name %>
        <td><% if tab_user.tab %><%= tab_user.tab.name %><% end %></td>
        <td><%= link_to 'Show', tab_user %></td>
        <% if current_user %>
        <td><%= link_to 'Edit', edit_user_path(tab_user) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
