<h1>All Users</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Tab Name</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |tab_user| %>
      <tr>
        <td><%= tab_user.name %></td>
        <td><%= tab_user.role_name %></td>
        <td><% if tab_user.tab %><%= tab_user.tab.name %><% end %></td>
        <td><%= link_to 'Show', tab_user %></td>
        <% if current_user %>
        <td><%= link_to 'Edit', edit_user_path(tab_user) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tab user', new_user_path, :class => "btn btn-primary" %>
