<style>
.form-control {
    background-color: white;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 21%;
}
</style>


<%= form_for(@user , multipart: true)  do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class=>"form-control" %>
  </div>

  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, :class=>"form-control" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation, :class=>"form-control" %>
  </div>
<br>
<%= f.label :roles %>
<label class="checkbox">
 <input id="user_roles" name="user[role_name]" type="checkbox" value="super_user" /> Super User
</label>

<label class="checkbox">
 <input id="user_roles" name="user[role_name]" type="checkbox" value="tab_user" /> Tab User
</label>

<div style="display:none;">
<label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Select a tab (if role is not super user) </label>
 <%= f.collection_select :tab_id, Tab.all, :id, :name %>
</br>



<script>
$(".checkbox").click(function(){

   $(this).next("div").toggle();
   //alert('fooo ' + $(this).next("div").html());
});
</script>

</div>
</br>



<div class="actions">
    <%= f.submit :class=>"btn btn-primary" %>
  </div>
<%end%>
