<style>
 #main_content{float:left;width:700px;border-right:0px solid black;padding-right:35px;}
 #sidebar {
	height: 300px;
	width: 400px;
	float: right;
	margin-right: 5px;
	padding: 5px 0 0 5px;
}
.dk_toggle{padding-top:5px;height:31px;margin-top:10px;width:250px;}
</style>

<div id ="sidebar">
<p>
<% if @user.photo? %>
  <%= image_tag @user.photo.url(:medium) %>
<% else %>
<%= image_tag('verifyme.jpg')%>
<% end %>
</p>

</div>

<div id = "main_content">
<strong><%= link_to 'Edit', edit_user_path(@user) %> </strong>
<table class="table table-striped table-condesed table-bordered">
<% if @user.tab.present? %>
 <tr>
  <td>Tab Name:</td><td><%= @user.tab.name %></td>
 </tr>

<% elsif !@user.admin? %>
  <%= form_for User.find(@user) do |tab| %>
  <%= tab.collection_select :tab_id, @array_without_excluded_ids, :id, :name, prompt: true %>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= tab.submit :class=>"btn btn-warning" %>
  <% end %>
<% end %>

<tr>
  <td>Username:</td>
  <td><%= @user.username %></td>
</td>

<tr>
  <td>Address:</td>
  <td><%= @user.address %></td>
</tr>

<tr>
  <td>Employee uid:</td>
  <td><%= @user.employee_uid %></td>
</tr>
</table>

<% if @user.tab && !@user.admin? %>
<table class="table table-condensed table-striped table-bordered">
 <tr>
   <th> Applicant Name </th>
   <th> Status </th>
  </tr>
<% @user.tab.assignments.each do |tab_task| %>
  <tr>
  <% if tab_task.customer %>
   <td><%= tab_task.customer.applicant_name %></td>
   <td><%= tab_task.customer.status %></td>
  <% else %>
   <td><%= tab_task.customer_office.customer.applicant_name %> (Office Verifiction)</td>
   <td><%= tab_task.customer_office.customer.status %></td>
  <% end %>
  </tr>
<% end %>
</table>
<% end %>

</div>
