<style>
.dk_fouc select{
	background-color: #666;
	border: medium none;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 12px;
	height: 30px;
	padding-top: 7px;
	position: relative;
	top: 0;
	visibility: visible;
	float: left;
	margin-right: 10px;
	outline:none;
}

.dk_fouc select option{
	border:none;
	margin-top:10px;
	background-color: #666;
}
.btn.btn-primary { border:none;}

.form-control{ width: 210%; border: 2px solid #999999;}
</style>

<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <!--<h2><%#= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>-->
      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="row">
  <div class="field">
    <%= f.label :application_ref_number %><br>
    <% if @customer.blank? %>
      <b><%= f.text_field :application_ref_number, :class=>"form-control", :value=> @final_no %></b>
    <% else %>
      <b><%= f.text_field :application_ref_number, :class=>"form-control", :value=> @final_no %></b>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :ageny_name %><br>
    <%= f.text_field :ageny_name, :class=>"form-control" , :value => "Scorpeo Private Limited" %>
  </div></div>
 <div class="row">
  <div class="field">
    <%= f.label :applicant_name %><br>
    <%= f.text_field :applicant_name, :class=>"form-control" %>
  </div></div>
  <div class="row">
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address, :class=>"form-control" %>
  </div></div>
  <div class="row">
  <div class="field">
    <%= f.label :landmark %><br>
    <%= f.text_field :landmark, :class=>"form-control" %>
  </div>
    <div class="field">
    <%= f.label :contact_number %><br>
    <%= f.text_field :contact_number, :class=>"form-control" %>
  </div>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %><br>
    <%= f.date_select :date_of_birth, :class=>"form-control", :start_year => 1990,
                      :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' }  %>
  </div><br><br>
 <div class="row">
  <div class="field">
    <%= f.label :CafNumber %><br>
    <%= f.text_field :caf_number, :class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <b><%= f.text_field :coountry, :class=>"form-control", :value => "India" %></b>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state, :class=>"form-control", :value => "Maharashtra" %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city, :class=>"form-control", :value => "Mumbai" %>
  </div>
    <div class="field">
    <%= f.label :Zipcode %><br>
    <%= f.text_field :pincode, :class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label 'Activation Status' %><br>
    <%= f.text_field :activation_code, :class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label 'Distributor Code' %><br>
    <%= f.text_field :dist_code, :class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :Channel %><br>
    <%= f.text_field :channel_string, :class=>"form-control" %>
  </div></div>

  <br><br>
  <div class="actions">
    <%= f.submit :class=>"btn btn-primary" %> <%= link_to 'Back', customers_path, :class=>"btn btn-info" %>
  </div>
<% end %>
