<%= nested_form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <!--<h2><%#= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>-->
      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="row">
  <div class="field">
    <%= f.label :application_ref_number %>
    <% if @customer.blank? %>
      <b><%= f.text_field :application_ref_number, :class=>"form-control", :value=> @final_no %></b>
    <% else %>
      <b><%= f.text_field :application_ref_number, :class=>"form-control", :value=> @final_no %></b>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :ageny_name %>
    <%= f.text_field :ageny_name, :class=>"form-control" , :value => "Scorpeo Private Limited" %>
  </div>

  <div class="field">
    <%= f.label :applicant_name %>
    <%= f.text_field :applicant_name, :class=>"form-control" %>
  </div></div>

  <div class="row">
  <div class="field">
    <%= f.label :billing_address %>
    <%= f.text_area :address, :class=>"form-control" %>
  </div></div>

  <div class="row">
  <div class="field">
    <%= f.label :landmark %>
    <%= f.text_field :landmark, :class=>"form-control" %>
  </div>
    <div class="field">
    <%= f.label :contact_number %>
    <%= f.text_field :contact_number, :class=>"form-control" %>
  </div>
  </div>

  <div class="field">
    <%= f.label :date_of_birth %><br>
    <%= f.date_select :date_of_birth, :class=>"form-control", :start_year => 1990,
                      :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' }  %>
  </div><br><br>
 <div class="row">
  <div class="field">
    <%= f.label :Caf_Number %>
    <%= f.text_field :caf_number, :class=>"form-control", :value=> @final_no %>
  </div>
  <div class="field">
    <%= f.label :country %>
    <b><%= f.text_field :coountry, :class=>"form-control", :value => "India" %></b>
  </div>
  <div class="field">
    <%= f.label :state %>
    <%= f.text_field :state, :class=>"form-control", :value => "Maharashtra" %>
  </div>
  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city, :class=>"form-control", :value => "Mumbai" %>
  </div>
    <div class="field">
    <%= f.label :Zipcode %>
    <%= f.text_field :pincode, :class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label 'Activation Status' %>
    <%= f.text_field :activation_code, :class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label 'Distributor Code' %>
    <%= f.text_field :dist_code, :class=>"form-control" %>
  </div>
  <div class="field">
    <%= f.label :Channel %>
    <%= f.text_field :channel_string, :class=>"form-control" %>
  </div>
  </div>
<hr>
<style>
input, textarea{ height: auto;
    width: 552px;}
</style>
<div class="office" style="padding:20px;background:#F0F8FF;">

<h4> Office Details if any ? </h4><hr>
  <%= f.fields_for :customer_office do |co| %>
 <div class="row">

    <div class="field">
      <%= co.label 'Office Address' %>
      <%= co.text_area :office_address, :class=>"form-control" %>
    </div>
  </div>

 <div class="row">
  <div class="field">
    <%= co.label 'Office City' %>
    <%= co.text_field :city_office, :class=>"form-control" %>
  </div>

  <div class="field">
    <%= co.label 'Office Pincode' %>
    <%= co.text_field :office_pincode, :class=>"form-control" %>
  </div>
 </div>
  <% end %>

</div>

  <br><br>
  <div class="actions">
    <%= f.submit :class=>"btn btn-info" %> <%= link_to 'Back', customers_path, :class=>"btn" %>
  </div>
<% end %>
