
<table class = "table table-condensed">
  <thead>
    <tr>
      <th>Application ref number</th>
      <th>Applicant name</th>
      <th>Date of birth</th>
      <th>Contact number</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= link_to customer.application_ref_number, customer %></td>
        <td><%= link_to customer.applicant_name, customer %></td>
        <td><%= customer.date_of_birth %></td>
        <td><%= customer.contact_number %></td>
        <td><% if customer.status == 'verified' %>
         <span class="label label-success"><%= customer.status %></span></td>
         <% else %>
        <span class="label label-info"><%= customer.status %></span></td>
         <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
