<strong>Import Customers</strong><hr>
<table><%= form_tag import_customers_path, multipart: true do %>
    <tr><td><%= file_field_tag :file %><br></td></tr>
    <tr><td><%= submit_tag "Upload Customers", class: 'btn btn-danger' %></td></tr>
<% end %></table>
<hr>

<table id="customers" class = "table table-condensed table-bordered table-striped">
  <thead>
    <tr>
      <th>Serial Number</th>
      <th>Customer Type</th>
      <th>Reference number</th>
      <th>Applicant name</th>
      <th>Date of birth</th>
      <th>Contact number</th>
      <th>Pincode </th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= customer.customer_type.name if customer.customer_type %></td>
        <td><%= customer.application_ref_number %></td>
        <td><%= link_to customer.applicant_name, customer %></td>
        <td><%= customer.date_of_birth %></td>
        <td><%= customer.contact_number %></td>
        <td><%= customer.pincode %></td>
        <td><% if customer.status == 'verified' %>
        <span class="label label-success"><%= customer.status %></span></td>
         <% elsif customer.status == 'completed' %>
        <span class="label label-danger"><%= customer.status %></span></td>
         <% elsif customer.status == 'submitted' %>
        <span class="label label-warning"><%= customer.status %></span></td>
         <% else %>
        <span class="label label-info"><%= customer.status %></span></td>
         <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>

<p style ="margin-right:50px;"><%= link_to 'New Customer', new_customer_path, :class => "btn btn-primary" %></p><br>
