
<table class = "table table-condensed">
  <thead>
    <tr>
      <th>Application ref number</th>
      <th>Applicant name</th>
      <th>Date of birth</th>
      <th>Contact number</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.application_ref_number %></td>
        <td><%= customer.applicant_name %></td>
        <td><%= customer.date_of_birth %></td>
        <td><%= customer.contact_number %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
