<b><%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Destroy', @customer, method: :delete, data: { confirm: 'Are you sure?' } %></b> | <%= link_to 'Back', customers_path %>
<% if @customer.status == 'pending' %>
  <h3 style ="float:right;"> <span class="label label-warning"><%= @customer.status %></span></h3>
<% elsif @customer.status == 'submitted' %>
  <h3 style ="float:right;"> <span class="label label-info"><%= @customer.status %></span></h3>
<% elsif @customer.status == 'complete' %>
  <h3 style ="float:right;"> <span class="btn btn-hg btn-primary"><%= @customer.status %></span></h3><br><br><br><br>
  <p style ="float:right;">
    <%= link_to "Accept", accept_customer_path(:customer_id => @customer.id), :class=> "label label-success" %>
    <%= link_to "Reassign", reassign_customer_path(:customer_id => @customer.id), :class=> "label label-danger" %>
  </p>
  <% else %>
  <h3 style ="float:right;"> <span class="btn btn-hg btn-primary"><%= @customer.status %></span></h3>
<% end %>
<br><br>

 <% if logged_in? && current_user.role_name=="super_user" &&  @customer.status=="pending" %>
   <%= form_for(@new_assignments) do |f| %>
    <%= f.hidden_field :customer_id , :value => @customer.id %>
    <%= f.hidden_field :user_id , :value => current_user.id %>
<%= select_tag "assignment[tab_id]", options_for_select(Tab.all.collect {|r|[r.name,r.id]}), {:class=>'tf help',:style=>"margin-top:15px;"} %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= f.submit "Send for verification", :class=>"btn btn-primary btn-small" %>
 <% end %>
<% else %>

<% if @customer.status=="submitted" %>
<br>
    <% if @customer.status=='submitted' %>
     <td><span class="label label-warning">Submitted to Tab User </span></td></tr><br>
		<small>
		 The customer has been send for verification. this is been assigned to
		 <%= link_to @customer.assignment.tab.name, tab_path(@customer.assignment.tab) %><br>
		</small>
    <% end %>


<% end %>
<% end %>
<br><br><br>







<table class="table">
<tr><td>
  <strong>Application ref number:</strong>
  <%= @customer.application_ref_number %>
</td></tr>

<tr><td>
  <strong>Ageny name:</strong>
  <%= @customer.ageny_name %>
</td></tr>

<tr><td>
  <strong>Applicant name:</strong>
  <%= @customer.applicant_name %>
</td></tr>

<tr><td>
  <strong>Address:</strong>
  <%= @customer.address %>
</td><tr>

<tr><td>
  <strong>Landmark:</strong>
  <%= @customer.landmark %>
</td><tr>

<tr><td>
  <strong>Date of birth:</strong>
  <%= @customer.date_of_birth %>
</td><tr>

<tr><td>
  <strong>Pincode:</strong>
  <%= @customer.pincode %>
</td><tr>

<tr><td>
  <strong>Contact number:</strong>
  <%= @customer.contact_number %>
</td></tr>

<tr><td>
  <strong>Country:</strong>
  <%= @customer.coountry %>
</td><tr>

<tr><td>
  <strong>State:</strong>
  <%= @customer.state %>
</td><tr>

<tr><td>
  <strong>City:</strong>
  <%= @customer.city %>
</td><tr>
</table>
