<p style ="float:right;margin-right:50px;"><%= link_to 'New Tab', new_tab_path, :class => "label label-primary" %></p><br>
<%= paginate @tabs %>
<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tab code</th>
      <th>Pincode</th>
      <th>Mac address</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tabs.each do |tab| %>
      <tr>
        <td><%= link_to tab.name, tab %></td>
        <td><%= tab.tab_code %></td>
        <td><%= tab.pincode %></td>
        <td><%= tab.mac_address %></td>
        <td><%= link_to 'Edit', edit_tab_path(tab) %></td>
        <td><%= link_to 'Destroy', tab, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
