<%= form_for(@pincode) do |f| %>
  <% if @pincode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pincode.errors.count, "error") %> prohibited this pincode from being saved:</h2>

      <ul>
      <% @pincode.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :pin_number %><br>
    <%= f.text_field :pin_number %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :city_id %><br>
    <%= f.number_field :city_id %>
  </div>
  <div class="field">
    <%= f.label :zone_id %><br>
    <%= f.number_field :zone_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
