
<table class="table">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Tab Name</th>
      <th>Assigned By</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @serveys.each do |servey| %>
      <tr>
        <td><%= servey.customer.applicant_name %></td>
        <td><%= servey.tab.name %></td>
        <td><%= servey.user.name %></td>
        <td><%= servey.customer.status %></td>
        <td><%= link_to 'Show', servey %></td>
        <td><%= link_to 'Edit', edit_servey_path(servey) %></td>
        <td><%= link_to 'Destroy', servey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Servey', new_servey_path, :class => "btn btn-primary" %>
