
<%= image_tag("file://#{Rails.root}/public/#{@servey.signature_image}") %>


<h4 style="float:right"><%= link_to "accept", accept_customer_path(@servey.customer.slug, :customer_id => @servey.customer.id) , :class=>" label label-info" %></h4><br>
<style>
 #main_content{float:left;width:700px;border-right:1px solid black;padding-right:35px;}
 #sidebar {
	height: 300px;
	width: 400px;
	float: right;
	margin-right: 5px;
	padding: 5px 0 0 5px;
}
</style>
<div id="sidebar">
<p style="margin-top:-20px;">
<%= link_to 'Edit Servey', edit_servey_path(@servey) %> |
<%= link_to 'View all Servey', serveys_path %></p>

<p>List Of Documents</p>
<% @servey.document_photos.each do |photo| %>
 <%= link_to image_tag photo.photo.url(:small) %>
<% end %>
</div>

<div id="main_content">
<table class="table table-condensed">
<tr>
  <td><strong>Name Of the Customer:</strong>
  <%= @servey.customer.applicant_name %>
</tr>

<tr>
  <td><strong>Name of the Tab User who completed the Servey:</strong>
  <%= @servey.tab.user.name %>
</tr>

<tr>
  <td><strong>Assigned by :</strong>
  <%= @servey.user.name %>
</tr>

<tr>
  <td><strong>Landmark:</strong>
  <%= @servey.landmark %>
</tr>

<tr>
  <td><strong>Ease of location:</strong>
  <%= @servey.ease_of_location %>
</tr>

<tr>
  <td><strong>Telephone number:</strong>
  <%= @servey.telephone_number %>
</tr>

<tr>
  <td><strong>Mobile number:</strong>
  <%= @servey.mobile_number %>
</tr>

<tr>
  <td><strong>Person contacted:</strong>
  <%= @servey.person_contacted %>
</tr>

<tr>
  <td><strong>Relationship with applicant:</strong>
  <%= @servey.relationship_with_applicant %>
</tr>

<tr>
  <td><strong>Years at current address:</strong>
  <%= @servey.years_at_current_address %>
</tr>

<tr>
  <td><strong>Expected monthly usage:</strong>
  <%= @servey.expected_monthly_usage %>
</tr>

<tr>
  <td><strong>Bill payer:</strong>
  <%= @servey.bill_payer %>
</tr>

<tr>
  <td><strong>Bill payer occupation:</strong>
  <%= @servey.bill_payer_occupation %>
</tr>

<tr>
  <td><strong>Residence type:</strong>
  <%= @servey.residence_type %>
</tr>

<tr>
  <td><strong>Locality:</strong>
  <%= @servey.locality %>
</tr>

<tr>
  <td><strong>Residence status:</strong>
  <%= @servey.residence_status %>
</tr>

<tr>
  <td><strong>Age:</strong>
  <%= @servey.age %>
</tr>

<tr>
  <td><strong>Customer attitude:</strong>
  <%= @servey.customer_attitude %>
</tr>

<tr>
  <td><strong>Credit card:</strong>
  <%= @servey.credit_card %>
</tr>

<tr>
  <td><strong>Pan card:</strong>
  <%= @servey.pan_card %>
</tr>

<tr>
  <td><strong>Pancard number:</strong>
  <%= @servey.pancard_number %>
</tr>

<tr>
  <td><strong>Address proof sighted:</strong>
  <%= @servey.address_proof_sighted %>
</tr>

<tr>
  <td><strong>Asset seen:</strong>
  <%= @servey.asset_seen %>
</tr>

<tr>
  <td><strong>Vihicle owned:</strong>
  <%= @servey.vihicle_owned %>
</tr>

<tr>
  <td><strong>Final recomendation:</strong>
  <%= @servey.final_recomendation %>
</tr>

<tr>
  <td><strong>Av done by:</strong>
  <%= @servey.av_done_by %>
</tr>

<tr>
  <td><strong>Av supervisor name:</strong>
  <%= @servey.av_supervisor_name %>
</tr>
</div>
