
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<%= javascript_include_tag 'application','bootstrap-datepicker.js' %></script>
<script type="text/javascript">
$(function() {
    $('.datepicker').datepicker({
    format: 'mm-dd-yyyy',
    weekStart: 1,
});
});
</script>
   <script>
      /* Update datepicker plugin so that MM/DD/YYYY format is used. */
      $.extend($.fn.datepicker.defaults, {
        parse: function (string) {
          var matches;
          if ((matches = string.match(/^(\d{2,2})\/(\d{2,2})\/(\d{4,4})$/))) {
            return new Date(matches[3], matches[1] - 1, matches[2]);
          } else {
            return null;
          }
        },
        format: function (date) {
          var
            month = (date.getMonth() + 1).toString(),
            dom = date.getDate().toString();
          if (month.length === 1) {
            month = "0" + month;
          }
          if (dom.length === 1) {
            dom = "0" + dom;
          }
          return month + "/" + dom + "/" + date.getFullYear();
        }
      });
    </script>
                    <input data-datepicker="datepicker" class="small" type="text" value="01/05/2011" />
<%= form_for :reports_path, :method => :get do |f| %>
<div class ="row">
  <div class="field_name">
  <%= label_tag :'Choose Start Date' %><br>
  <%= text_field_tag :start_date, '', :class=> "datepicker", :value => @start_date %>
</div>
  <div class="field_name">
  <%= label_tag :'Choose End Date' %><br>
  <%= text_field_tag :end_date, '', :class => "datepicker", :value => @end_date %>
</div><br><br>
<%= f.submit "Generate Report", :class =>"btn btn-info" %>
</div>
<% end %>
<hr>
<% if @customers.nil? %>
 <% else %>

  <strong>
   <b><u>Report from <%= params[:start_date] %> to <%= params[:end_date] %></u></b>
  </strong>


<div id="reports" style ="font-size:12px;background:#fff;width:1200px;padding:5px;border-radius:5px;border:0px solid #000000;text-align:center">
<b style="float:right"><%= link_to "Download this Report", reports_path(:start_date => params[:start_date], :end_date => params[:end_date], format: :xls) %></b><hr>
<table class="table table-bordered table-condensed">
<thead>
<tr>
   <th> Customer Name </th>
   <th> Address </th>
   <th> Visit Date </th>
   <th> Time </th>
   <th> status </th>
   <th> Person Contacted </th>
   <th> Relationship with applicant </th>
   <th> Date Of Birth </th>
   <th> Years Lived at current address </th>
   <th> Residential Status </th>
  </tr>
  </thead>
  <% @customers.each do |d| %>
  <tbody>
   <tr>
    <td><%= d.customer.applicant_name %></td>
    <td><%= d.customer.address %></td>
    <td><%= time_tag d.created_at.to_date %> </td>
    <td><%= (d.created_at).strftime("%I:%M %P") %></td>
    <td><%= d.customer.status %></td>
    <td><%= d.person_contacted %></td>
    <td><%= d.relationship_with_applicant %></td>
    <td><%= d.customer.date_of_birth %></td>
    <td><%= d.years_at_current_address %></td>
    <td><%= d.residence_status %></td>
   </tr>
   </tbody>
  <% end %>
</table>
</div>
<% end %>
