<!DOCTYPE html>
<html>
<head>
  <title>Aircel Report</title>
  <%= stylesheet_link_tag    "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "datepicker", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>

<style>
 #header {margin:10px;height:50px;border-bottom:1px solid black;}
 #user {float:right;font-size: 25px;}
 .body_data {font-size:12px;font-weight:bold;margin:50px;font-family: 'Sansation', sans-serif;}
 body { margin-top:100px;padding-bottom: 70px;font-family: 'Sansation', sans-serif; }
</style>
</head>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="padding-left:10px;padding-right:20px;">
<ul class="nav navbar-nav">
  <li><a href="/"><b>AIRCEL SALES REPORT</b></a></li>
  <% if logged_in? && current_user.admin?   %>
  <li><%= link_to 'Customers', customers_path %></li>
  <li><%= link_to 'Tabs', tabs_path %></li>
  <li><%= link_to "List users", users_path  %></li>
  <li><%= link_to "Generate Report", reports_path  %></li>
  <li><%= link_to "Servey Detail", serveys_path  %></li>
  <% end %>
</ul>

 <div id = "user">
  <% if current_user %>
    <b style ="font-size:12px;">Welcome <%= current_user.name %>
    <% if current_user.admin? %>
     <b style="color:green">(Admin) </b>
    <% end %> |
    <%= link_to "Signout" ,logout_path ,:method => :delete %></b>
  <% else %>
    <%= link_to "Register", signup_path %> / <%= link_to "Sign-in", login_path %>
   <% end %>
</div>
</nav>


<body data-no-turbolink>
<div class="body_data">
<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>

<%= yield %>
</div>
</body>
</html>
